@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-switch {
  @apply bg-gray-500 dark:bg-gray-300;
  width: 50px;
  height: 25px;
  position: relative;
  display: flex;
  border-radius: 20px;
  align-items: center;
}

.checkbox {
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
}

.checkbox:checked ~ .switcher {
  transform: translateX(100%);
  background-image: url("./assets/github-mark.svg");
}

.switcher {
  position: absolute;
  background-image: url("./assets/github-mark-white.svg");
  background-position: center;
  background-size: cover;
  left: 0;
  width: 25px;
  border-radius: 50%;
  aspect-ratio: 1;
  @apply bg-transparent;
  transition: 200ms;
  will-change: transform;
}
